<!DOCTYPE html>
<html>

<head>
    <title>KNN Predictor</title>
    <style>
        form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;  /* permite que os itens se ajustem conforme a largura da tela */
            align-items: center;
            gap: 10px;
        }

        label {
            margin-right: 10px;
        }
    </style>
</head>

<body>

    <h2>KNN Predictor - GUEDSON - LUAN - BRAYAN</h2>

    <div>
        {{ plotly_html|safe }}
    </div>
    <p>Acurácia do modelo: {{ accuracy }}</p>

    <form action="/" method="post">
        <label for="idade">Idade:</label>
        <input type="text" name="idade" id="idade">
        
        <label for="genero">Gênero:</label>
        <select name="genero" id="genero">
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
        </select>
        
        <label for="nivel_gasto">Nível de Gasto:</label>
        <input type="text" name="nivel_gasto" id="nivel_gasto">
        
        <label for="tempo_site">Tempo no Site:</label>
        <input type="text" name="tempo_site" id="tempo_site">
        
        <input type="submit" value="Predict">
    </form>

    {% if prediction is not none %}
    <h3>Previsão: {{ prediction }}</h3>
    {% endif %}

</body>

</html>
